.row-box .content {
  padding-right: 30px; }

.side-menu {
  list-style: outside none none;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: -30px; }
  .side-menu li {
    position: relative; }
    .side-menu li i {
      position: absolute;
      font-size: 20px;
      left: -25px;
      top: 5px; }
  .side-menu li.header {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px; }
  .side-menu li.active a {
    color: #999;
    border: none; }

.anchor {
  display: inline-block;
  outline: medium none;
  text-decoration: none;
  opacity: 0.5;
  border: none; }
  .anchor:before {
    content: '#'; }
  .anchor:hover {
    opacity: 1; }
