pre, code {
  font-size: 0.8em;
}

code, code[class*="language-"], pre[class*="language-"] {
  background: none repeat scroll 0% 0% #565752 !important;
  color: #F8F8F2 !important;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  border-radius: 0 !important;
  border: none !important;
}
:not(pre)>code[class*=language-], pre[class*=language-] {
  background: #565752 !important;
}
